#mytroca{color:#004d40;}

#ctit{color:#004d40;
      padding-top:15px;}
.bout{outline-color:#2BBBAD}

.gre{background-color:#e0f2f1;}
.gra{color:#2BBBAD;}
.cent1{color:#2BBBAD;}

.container-nav{background-color:#ffffff;}
.cw{color:#ffffff;}
.cb{color:#000000;}